<header class="hidden lg:block fixed left-0 top-0 w-48 h-screen border-r border-gray-200">
    <h1 class="text-2xl p-4">Forum</h1>
    <nav class="">
      <ul>
        <li><a href="#" class="block p-4 no-underline">Lorem</a></li>
        <li><a href="#" class="block p-4 no-underline">Ipsum</a></li>
        <li><a href="#" class="block p-4 no-underline">Dolor</a></li>
        <li><a href="#" class="block p-4 no-underline">Sit</a></li>
        <li><a href="#" class="block p-4 no-underline">Amet</a></li>
      </ul>
    </nav>
</header>