<header class="hidden lg:block fixed left-0 top-0 w-48 h-screen border-r border-gray-200">
    <h1 class="text-2xl p-4">Forum</h1>
    <nav class="">
      <ul>
        <li><a href="/" class="block p-4 no-underline">Home</a></li>
        <% if (!session) { %>
          <li><a href="/login" class="block p-4 no-underline">Login</a></li>
        <% } else { %>
          <li><a href="/profile" class="block p-4 no-underline">Profile</a></li>
          <li><a href="/logout" class="block p-4 no-underline">Logout</a></li>
        <% } %>
      </ul>
    </nav>
</header>