<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Forum</title>
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/css/forum.css">
        <link rel="stylesheet" href="/css/tailwind.css">
    </head>
    <body>
        <%- include('header-desktop') %>
        <%- include('header-mobile') %>
        <main class="mx-auto mt-12 lg:mt-2 mb-2 max-w-6xl">
            <%- body %>
        </main>
    </body>
</html>