<% console.log(media.blobs.original) %>
<div class="mt-2">
    <img
        src="<%= media.blobs.original.url %>"
        alt="<%= media.caption %>"
        class="w-full"
    >
    <p><%= media.caption %></p>
</div>

