<% if (feed.length > 0) { %>
    <div class="my-4 mx-auto w-8 text-center">
        <a
            href="<%= nextPage %>"
            class="py-2 px-4 rounded-lg bg-gray-200 hover:bg-gray-300"
        >
            More
        </a>
    </div>
<% } %>