* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=checkbox]:checked ~ nav {
  left: 0;
}

input[type=checkbox]:checked ~ .toggle {
  display: initial;
}

input[type=checkbox]:checked ~ label .collapsed {
  transform: rotate(90deg);
}